.title {
    background-color: #f7cbdd;
    overflow: auto;
    text-align:center;
    padding-top: 40px;
    padding-bottom: 40px;
}



.menu {
    background-color:#f5cadc;
    overflow: auto;
}

.menu ul {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu li {
    display:inline-block;
    text-align:center;
}

.menu li a {
    display: inline-block;
    height:auto;
    width: 200px;
    color:antiquewhite;
    background-color: rgb(196, 68, 127);
    padding: 10px;
    margin: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
}

.menu li a:hover {
    background-color:rgb(114, 0, 63);
}

/* ul {
    width: 50%;
    text-align: right;
    display: inline-block;
    margin: 0 17cm 0 0;
}


ol {
    width: 70%;
    text-align: right;
    display: inline-block;
    margin: 0 5cm 0 0;
} */
.mylist {
    text-align: right;
    display: inline-block;
    margin: 0 5cm;
}

li {
  margin: 10px 0;
}
.main {
    overflow:auto;
    text-align: center;
    background-color:#f7dfe9;
    padding-top: 20px;
    padding-bottom:20px;
    
}


.nai {
    display: inline-block;
    vertical-align: top;
    width:calc(80%/3);
    text-align: center;
    margin:2%;
    padding:10px;
}

.picture-group > div {
    display: inline-block
} 

.photos{
    overflow:auto;
    text-align: center;
    background-color:#f7dfe9;
    padding-top: 20px;
    padding-bottom:20px;
}



.photos img {
    border-style: solid;
    border-width: 2px;
    border-color:rgb(255, 196, 0);
    border-radius:6px;
    margin:2px;
    object-fit:cover;
    object-position:top;
}




.footer {
    overflow:auto;
    text-align: center;
    background-color: #f7cbdd;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer h2 {
    color:#a41923;
}

.footer h1 {
    color:#a41923;
}



.footer ul {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer li {
    display:inline-block;
    text-align:center;
}

.footer li a {
    display: inline-block;
    height:auto;
    width: 200px;
    color:antiquewhite;
    background-color:rgb(196, 68, 127);
    padding: 10px;
    margin: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
}

.footer li a:hover {
    background-color:rgb(114, 0, 63);
}


h1 {
    font-weight:bold;
    font-size: 36px;
    color:#a41923;
}

h3 {
    font-weight:bold;
    color:#a41923;
}

    width: 50%;
    text-align: right;
    display: inline-block;
    margin: 0 17cm 0 0;